/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import custom fonts and icons */
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* Apply global font */
* {
  font-family: "Overpass", sans-serif;
}

/* Main styles */
main {
  min-height: 90vh;
  margin: 0 auto; /* Center horizontally */
  padding: 15px; /* Padding inside the element */
  background-color: white; /* Default background color */
}
section {
  max-width: 1280px;
  margin: 0 auto;
}

/* Dark mode styles */
.dark main {
  background-color: #1a202c; /* Dark mode background color */
}

/* Ensure no extra margin or padding on body */
body {
  margin: 0;
  padding: 0;
}
